name: Build ImmortalWrt (Selectable Config)

on:
  workflow_dispatch:
    inputs:
      config_file:
        description: "选择要编译的配置文件"
        required: true
        default: "xr30-1.config"
        type: choice
        options:
          - xr30-1.config
          - rax3000m-ubi.config
          - rax3000m-nand.config
          - test.config

env:
  REPO_URL: https://github.com/chasey-dev/immortalwrt-mt798x-rebase.git
  REPO_BRANCH: 25.12-dev
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y build-essential clang flex bison g++ gawk \
        gcc-multilib g++-multilib gettext git libncurses-dev libssl-dev \
        python3-distutils rsync unzip zlib1g-dev file wget

    - name: Clone ImmortalWrt
      run: |
        git clone --depth 1 $REPO_URL -b $REPO_BRANCH source

    - name: Load selected config
      run: |
        cp configs/${{ github.event.inputs.config_file }} source/.config
        cd source
        make oldconfig

    - name: Download packages
      run: |
        cd source
        make download -j8

    - name: Build firmware
      run: |
        cd source
        make -j$(nproc)

    - name: Show firmware output
      run: |
        find source/bin/targets -type f -name "*.itb"
        find source/bin/targets -type f -name "*.bin"

    - name: Upload firmware
      uses: actions/upload-artifact@v4
      with:
        name: Firmware-${{ github.event.inputs.config_file }}
        path: source/bin/targets/
