name: Build RAX3000M 25.12 (Factory for Breed)

on:
  workflow_dispatch:

env:
  REPO_URL: https://github.com/chasey-dev/immortalwrt-mt798x-rebase.git
  REPO_BRANCH: 25.12-dev
  CONFIG_FILE: xr30-1.config
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Free Disk Space
      run: |
        sudo rm -rf /usr/share/dotnet /opt/ghc /usr/local/lib/android "$AGENT_TOOLSDIRECTORY"
        sudo docker image prune -a -f
        df -h

    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          build-essential clang flex bison g++ gawk \
          gcc-multilib g++-multilib gettext git libncurses5-dev \
          libssl-dev python3-distutils rsync unzip zlib1g-dev \
          file wget swig u-boot-tools mtd-utils

    - name: Clone Source
      run: |
        git clone --depth=1 $REPO_URL -b $REPO_BRANCH source

    - name: Update Feeds
      working-directory: source
      run: |
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    # ==================================================
    # 自动给 RAX3000M 添加 factory.bin 规则
    # ==================================================
    - name: Add factory image for RAX3000M
      working-directory: source
      run: |
        FILE=target/linux/mediatek/image/filogic.mk
        echo "Patching $FILE ..."

        if ! grep -q "Device/cmcc_rax3000m" $FILE; then
          echo "Device/cmcc_rax3000m not found!"
          exit 1
        fi

        sed -i '/define Device\/cmcc_rax3000m/,/endef/{
          /IMAGE\/sysupgrade.bin/a\
         IMAGE/factory.bin := append-kernel | append-rootfs | pad-rootfs | append-metadata
        }' $FILE

        echo "Patch result:"
        sed -n '/define Device\/cmcc_rax3000m/,/endef/p' $FILE

    - name: Load Config
      run: |
        mv $CONFIG_FILE source/.config
        make -C source olddefconfig

    - name: Show Selected Device
      run: |
        grep CONFIG_TARGET_mediatek source/.config

    - name: Download Source
      working-directory: source
      run: make download -j8

    - name: Build Firmware
      working-directory: source
      run: |
        make -j$(nproc) || make -j1 V=s

    - name: Show Output Files
      run: |
        ls -lh source/bin/targets/mediatek/filogic/

    - name: Upload Firmware
      uses: actions/upload-artifact@v4
      with:
        name: RAX3000M-25.12-Factory
        path: |
          source/bin/targets/mediatek/filogic/*factory.bin
          source/bin/targets/mediatek/filogic/*sysupgrade.bin
