name: Build XR30 NAND Firmware

on:
  workflow_dispatch:

env:
  REPO_URL: https://github.com/chasey-dev/immortalwrt-mt798x-rebase.git
  REPO_BRANCH: 25.12-dev
  CONFIG_FILE: xr30-1.config
  RELEASE_TAG: xr30-6.12
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    # ==============================
    # 清理空间（防止磁盘不足）
    # ==============================
    - name: Free Disk Space
      run: |
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /opt/ghc
        sudo rm -rf /usr/local/share/boost
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"
        sudo docker image prune -a -f
        df -h

    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install -y build-essential clang flex bison g++ gawk \
        gcc-multilib g++-multilib gettext git libncurses5-dev \
        libssl-dev python3-distutils rsync unzip zlib1g-dev \
        file wget

    - name: Clone Source
      run: |
        git clone --depth=1 $REPO_URL -b $REPO_BRANCH openwrt
        ln -sf $GITHUB_WORKSPACE/openwrt $GITHUB_WORKSPACE/source

    - name: Update Feeds
      working-directory: source
      run: |
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: Load Config
      run: |
        mv $CONFIG_FILE source/.config

    - name: Download DL Packages
      working-directory: source
      run: make defconfig

    - name: Download Source
      working-directory: source
      run: make download -j8

    # ==============================
    # 编译
    # ==============================
    - name: Build Firmware
      working-directory: source
      run: |
        make -j$(nproc) || make -j1 V=s

    # ==============================
    # 重命名为 RAX3000M-Breed.bin
    # 本质仍是 UBI sysupgrade 镜像
    # ==============================
    - name: Rename Firmware (Safe)
      run: |
       echo "Searching for sysupgrade firmware..."

       FILE=$(find source/bin/targets -type f -name "*sysupgrade.bin" | head -n 1)

       if [ -z "$FILE" ]; then
       echo "ERROR: sysupgrade.bin not found!"
       echo "Listing targets directory:"
       ls -R source/bin/targets || true
       exit 1
       fi

       echo "Found firmware:"
       echo $FILE

       cp "$FILE" source/bin/targets/RAX3000M-Breed.bin

       ls -lh source/bin/targets/


    # ==============================
    # 上传固件
    # ==============================
    - name: Upload Firmware
      uses: actions/upload-artifact@v4
      with:
        name: RAX3000M-NAND-Firmware
        path: source/bin/targets/*/*/*.bin
